@use 'src/styles/vars';

ul {
  padding: 2em;
  li {
    margin-bottom: 1.2em;
    position: relative;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 20px solid vars.$messageBackground;
      border-left: 25px solid transparent;
      position: absolute;
      top: 1em;
      left: 1.5em;
    }
    h2 {
      padding-left: 1.2em;
    }
    p {
      padding: 1.2rem 1.3rem;
      margin-top: 0.8rem;
      border-radius: 1.6rem;
      background-color: vars.$messageBackground;
      color: vars.$messageColor;
      display: inline-block;
    }
  }
}
