@use 'src/styles/vars';

.form-addMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .input-message {
    height: vars.$inputHeight;
    width: 100%;
    border: none;
    font-size: 1.2em;
    padding: 1rem;
    padding-right: vars.$inputHeight;
  }
  .submit-addMessage {
    position: absolute;
    right: 0;
    width: vars.$inputHeight;
    height: vars.$inputHeight;
    border: none;
    background-color: transparent;
    color: vars.$darkColor;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
